.repMain {
  width: 100%;
  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  padding: 2rem;
}

.repMain p {
  max-width: 35rem;
  text-align: center;
}

.repMain img {
  border-radius: 10%;
}
