* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "DynaPuff";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

:root {
  --text-color: #4c474b;
  --background-color: #b7bac2;
  --primary-color: #d08858;
  --secondary-color: #c0aa8d;
  --accent-color: #9e7066;
}

@font-face {
  font-family: "DynaPuff";
  src: url("./fonts/DynaPuff-VariableFont_wdth\,wght.ttf") format("truetype");
}
