.mainEco {
  width: 100%;
  min-height: 90vh;

  /* background-color: var(--background-color); */

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  padding: 2rem;
}

.mainEco p {
  /* min-width: 5rem; */
  max-width: 35rem;
  text-align: center;
}

.mainEco img {
  border-radius: 10%;
}

.mainEco form {
  margin-bottom: 16px;
}

.formDiv {
  max-width: 35rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  /* flex-direction: column; */
}

.formDiv input {
  margin: 1rem;
  padding: 0.5rem;
  width: 12rem;

  font-family: DynaPuff;
}

.formDiv textarea {
  margin: 1rem;
  padding: 0.5rem;
  width: 12rem;

  font-family: DynaPuff;
  resize: vertical;
}
